
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;    
    justify-content: center;
    align-items: center;   
}


form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}


label {
    font-size: 1.1rem;
    color: #333;
    display: block;
    margin: 10px 0 5px;
}


input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}


input[type="radio"] {
    margin-right: 10px;
}


h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #555;
}

div {
    margin-bottom: 15px;
}

#div1 {
    text-align: center;
}

.radioButtons {
    display: flex;
}

#button1 {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid white;
    background-color: rgb(255, 153, 0);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#button1:hover {
    border: 2px solid #8ec734;
    background-color: #a1f022;
}


footer {
    display: flex;
    background: rgb(255, 153, 0);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px 0;
}

.footerLinks{
    display: grid;
    height: 100%;
    width: 50%;
    text-align: center;
    color: white;
    
}

.footerLinks a {
    text-decoration: none;
    color: white;
    font-weight: bold   ;
}